<!DOCTYPE html>
<html>
	<head>
  		<title>Authentication engine</title>
  		<%= stylesheet_link_tag    "content_engine/application", media: "all" %>
  		<%= javascript_include_tag "content_engine/application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body cz-shortcut-listen="true">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Engine Demo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>	
    <div class="container">
 			<% flash.each do |name, msg| %>
    		<%= content_tag :div, msg, class: "alert alert-info" %>
  		<% end %>
  		<br/>
      <% if @current_user.present? %>
        <%= link_to 'Logout', '/users/sign_out', method: :delete, data: {confirm: 'Are you sure want to logout?'}, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'Sign In', '/users/sign_in', data: {disable_with: 'Loading...'}, class: 'btn btn-primary' %>
        <%= link_to 'Sign Up', '/users/new', data: {disable_with: 'Loading...'}, class: 'btn btn-primary' %>
      <% end %>  		
			<%= yield %>
		</div>
	</body>
</html>
