<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>  
  <hr>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', blogs_path, class: 'btn btn-primary' %>
    <% unless blog.new_record? %>
      <%= link_to 'Show', @blog, class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
