<h1>
  Blogs
  <small class="pull-right">
    <h4><%= link_to 'New Blog', new_blog_path, class: 'btn btn-sm btn-primary' %></h4>
  </small>
</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.id %></td>
        <td><%= blog.name %></td>
        <td><%= link_to blog.try(:user).try(:email_or_fullname_or_username), "/users/#{blog.user_id}" %></td>
        <td>
          <%= link_to 'Show', blog, class: 'btn btn-sm btn-primary' %>
          <% if blog.user_id == @current_user.id %>
            <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
