<h1>
  View Blog
  <small class="pull-right">
    <h4><%= link_to 'New Blog', new_blog_path, class: 'btn btn-sm btn-primary' %></h4>
  </small>
</h1>
<hr>

<p>
  <strong>Name:</strong>
  <%= @blog.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  By <%= link_to @blog.try(:user).email_or_fullname_or_username, "/users/#{@blog.user_id}" %>
</p>

<% if @blog.comments.present? %>
  <h4><b>Comments</b></h4>
  <div>
    <% @blog.comments.each do |comment| %>
      <p>
        <% if comment.user_id.present? %>
          <%= link_to comment.user.email_or_fullname_or_username, "/users/#{(comment.user_id)}" %>
        <% end %>
        <%= comment.content %>
      </p>
      <hr style="margin:0px;">
    <% end %>
  </div>
<% end %>

<%= nested_form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Comments</h3>
  <div class="field">
    <%= f.fields_for :comments, f.object.comments.build do |cform| %>
      <% if @current_user.present? %>
        <%= cform.hidden_field :user_id, value: @current_user.id %>
      <% end %>
      <%= cform.label :content, 'Comment Message' %>
      <%= cform.text_field :content, class: 'form-control', required: 'required' %>
    <% end %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <% if @blog.user_id == @current_user.id %>
      <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Back', blogs_path, class: 'btn btn-primary' %>
  </div>
<% end %>
